<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mapsui" version="4.1.7" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.2" />
  <package id="OAuth.DotNetCore" version="3.0.1" />
  <package id="OsmSharp" version="7.0.0-pre022" manuallyInstalled="true" />
  <package id="OsmSharp.IO.API" version="1.0.4" manuallyInstalled="true" />
  <package id="System.Collections.Immutable" version="1.7.1" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="6.0.0" />
  <package id="System.Text.Json" version="6.0.7" />
  <package id="protobuf-net" version="3.1.25" />
  <package id="protobuf-net.Core" version="3.1.25" />
</packages>